@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff; /*Sets the text hover color on navbar*/
  border-bottom: 5px solid #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  /* background-color: #3ac028; JOB */
  background-color: #17a1b3;
  border-bottom: 5px solid #fff;
}

.navbar-default {
  /* background-color: green; */
  background-color: #117d8b;
  /* border-color: #31c224; */
  border-color: #117d8b;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #66ccff; /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
  font-weight: 100;
  font-size: 20px;
  padding-left: 40px;
}
.help-block {
  color: red;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
body {
  background: #ecf0f1; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
